body {}
   

.whatsapp-float

        {
             position: fixed;
             bottom: 20px;
             left: 60px;
             z-index: 1000;
             border-radius: 100px;
             font-size: 30px;
             align-items: center;
        }

}
